<h1>Word Counter</h1>
<form action="'/results'">
  <div class="">
    <label for="Enter a word to count"></label>
    <input type="text" name="word" id="word">
    <label for="Enter your sentence to match"></label>
    <input type="text" name="sentence" id="sentence">
  </div>
  <button type="submit" class="btn">Count my Words!</button>
</form>
