<h1>Word Counter</h1>
<div class="center">
  <form action="/results">
    <div class="form">
      <div id="word">
        <label id="inputs" for="Word">Enter your word to match</label>
        <input type="text" name="word" id="word">
      </div>
      <div id="sentence">
        <label id="inputs" for="Sentence">Enter your sentence to match</label>
        <input type="text" name="sentence" id="sentence">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Count my Words!</button>
  </form>
</div>
