<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href='css/styles.css' type='text/css'>
  </head>
  <nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">View this Project on Git! <span class="sr-only">(current)</span></a></li>
      <li id="git"><a href="https://github.com/campoore2/Word_Count-Ruby">Word Count</a></li>
    </ul>
  </div>
</nav>
  <body class="center container">
      <%= yield %>
    </div>
  </body>
</html>
